<div class="tabWrapper tabMain">
  <div class="tabClose" (click)="cl()">{{ tabClose }}</div>

  <div class="tab" *ngIf="isshow">
    <button
      class="tablinks"
      *ngFor="let it of ts1"
      [ngClass]="{ active: t1 == it.t }"
      (click)="c1(it.t)"
    >
      {{ it.n }}
    </button>
  </div>
  <div class="tab" *ngIf="isshow">
    <button
      class="tablinks"
      *ngFor="let it of ts2"
      [ngClass]="{ active: t2 == it.t }"
      (click)="c2(it.t, it.l)"
    >
      <span>{{ it.n }}</span>
    </button>
  </div>

  <div class="tabcontent" [ngClass]="{ loading: isLoading, w100: !isshow }">
    <div class="loadText" *ngIf="isLoading">Loading</div>
    <iframe
      style="border-width: 0px"
      width="100%"
      height="700px"
      [src]="l"
      (load)="isLoading = false"
      [class.d-none]="isLoading"
      [ngClass]="{ isLoading: isLoading }"
      title="W3Schools Free Online Web Tutorials"
    ></iframe>
  </div>
</div>
